* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*body {
  background-color: gray;
}*/

/*.AppLogo {
  height: 65px;  

  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 15px;
}

.AppLogo img {
  max-height: 45%;
}*/


/*.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);  
  margin: 16px 24px 16px 0;
  float: left;
}
*/
.ant-layout-header {
  background-color: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 100%;
}

.logo img {
  max-height: 47%;
/*  padding-bottom: 3px;*/
}

/* remove ucolored bottom area */
/* -do vertical scrollbar*/
/*
.ant-layout {
  height: 100vh;
}
*/
body {
  background-color: #f0f2f5;
}

body * {
  font-family: 'Roboto', sans-serif;
}