.CardsArea {
  background-color: pink;

  display: flex;
  flex-wrap: wrap;

/*  justify-content: space-between; -*/
  justify-content: space-evenly; 
/*  justify-content: space-around;  */
/*  justify-content: center; */
}