.CardsArea {
/*  background-color: pink;
*/
  display: flex;
  flex-wrap: wrap;

/*  justify-content: space-evenly; */
  justify-content: center; 


/*  justify-content: space-between; */
/*  justify-content: space-around;  */
/*
  padding-left: 8px;
  padding-right: 8px;
*/  
}