


/*.CardsArea {
  width: 75%;
  float: left;
}

.Filter {
  width:25%; 
  float:left;
}
*/

.AppInteractive {
  display: flex;

  align-items: center;
  justify-content: center;
}
.CardsArea {
  flex: 0 0 75%;
  align-self: start;
}
.Filter {
  flex: 1;
  align-self: start;
}

/* .FilterWidth const, */


.Message {
  margin-left: auto;
  margin-right: auto;
}
